body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;

    background: $white-color;
    color: $primary-text-color;
}

.sections {
    padding-bottom: 94px;
    padding-top: 94px;
}