.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 1;
    overflow-y: scroll;
    overflow-x: scroll;
    transition: visibility $animation, opacity $animation;

    background: rgba(0, 0, 0, 0.2);
    &.is-hidden{
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}

.modal {
    position: absolute;
    width: 450px;
    height: 609px;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    transition: transform $animation;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    .is-hidden &{
        transform: scale(0.9) translate(-50%, -50%);
    }
    @media screen and (max-width:450px) {
        width: 100vw;
        max-height: 100vh;
    }
    @media screen and (max-height:600px) {
        max-height: 100vh;
    }
    @media screen and (min-width:1200px) {
        width: 528px;
        height: 581px;
    }
}

.modal__btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    background: $white-color;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__close-icon {
    width: 18px;
    height: 18px;

    transition: fill $animation;
    &:focus,
    &:hover{
        fill: $accent-color;
    }
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: $title-text-color;
    @media screen and (min-width:1200px) {
        font-size: 20px;
        line-height: 1.15px;
    }
    @media screen and (max-height:600px) {
        font-size: 16px;
    }
}

.modal__input {
    position: relative;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px 12px;
    padding-left: 40px;
    margin-top: 4px;
    outline: none;
    transition: border-color $animation;
    &:focus{
        border-color: $accent-color;
    }
        &:focus+.modal__icon{
            fill: $accent-color;
        }
}

.modal__coment {
    width: 100%;
    resize: none;
    padding: 12px 16px;
    margin-top: 4px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color $animation;
    &:focus{
        border-color: $accent-color;
    }
}

.modal__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    @media screen and (max-width:440px) {
        flex-wrap: wrap;
        font-size: 10px;
    }
    @media screen and (min-width:1200px) {
        font-size: 14px;
        line-height: 1.71;
    }
}

.modal__label {
    position: relative;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    &:not(:first-child){
        margin-top: 10px;
    }
    &:first-child{
        margin-top: 12px;
    }
}

.modal__link {
    color: $accent-color;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    @media screen and (max-width:440px) {
        font-size: 10px;
    }
    @media screen and (min-width:1200px) {
            font-size: 14px;
            line-height: 1.71;
        }
}
.modal__approval {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal__check-icon {
    border: 2px solid black;
    border-radius: 2px;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    transition: border-color $animation, background-color $animation;

    .modal__approval:checked+& {
        background-color: $accent-color;
        border: none;
    }

    .modal__approval:focus+&,
    .modal__approval:hover+& {
        border-color: $accent-color;
    }
}

.modal__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    transition: fill $animation;
}

.modal__button {
    padding: 10px 52px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    transition: filter $animation;

    &:hover,
    &:focus{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    @extend %btn-primary;
    @extend %btn;
    @media screen and (max-height:600px) and (max-width:425px) {
        margin-top: 5px;
    }
}


