.logo {
    color: $accent-color;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo__text--black{
    color: #000000;
}
.header__logo {
    margin-right: 93px;
}
.logo__text--white {
    color: $white-color;
}